$ciano: #05C3C3;
$azul: #0650e5;
$azulEscuro: #0D101E;
$cinza: #999999;
$cinzaClaro: #A4B6C9;

main {
    border-radius: 20px;
    text-align: left;
    background: rgba( 13, 16, 30, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid #05C3C32e;
}

main div ul li a svg{
    font-size: 20px;
}


.icon-card {
    margin: 0rem 1rem;
}

h2 {
    font-weight: bold !important;
    font-size: 20px;
    padding: 1rem 0;
    color: #fff;
}

h5 {
    font-weight: bold !important;
    color: $azulEscuro !important;
}

p.espaco {
    font-weight: 600 !important;
    margin-bottom: 0 !important;
    margin-top: 0.5rem;
}

.card-body {
    padding-bottom: unset !important;
}

.bg-azul-claro {
    background-color: $ciano !important;
}

.progress {
    height: 0.5rem !important;
    background-color: $cinzaClaro !important;
}

.card {
    border: unset !important;
    margin: 0.5rem 0;
}

.circle{
    fill: $azul;
}

.card:hover {
    background: $azul;
    color: #fff;
    transition: 0.5s;
    .fa-ellipsis-v {
        color: #fff;
        transition: 0.5s;
    }
}

button.btn_small {
    background: #dff6fe;
    color: $ciano !important;
    font-size: 12px !important;
    height: min-content !important;
    border-radius: 100vw;
    padding: 5px 15px;
    font-weight: 600;
    border: unset;
}

button.btn_arm {
    color: #fff !important;
    font-size: 12px !important;
    height: min-content !important;
    border-radius: 100vw;
    padding: 10px 20px;
    font-weight: 600;
    border: unset;
}

button.btn_arm.edit {
    background: $ciano;
}

button.btn_arm.up {
    background: $azul;
}

button.btn_small:hover {
    background-color: #fff;
}

.upgrade {
    font-family: "Poppins", sans-serif;
    background: $ciano;
    padding: 15px;
    border-radius: 15px;
    margin-right: 1rem;
}

.upgrade-text {
    font-size: 12px;
    color: #fff;
}

.btn-upgrade {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    background-color: #fff;
    border-radius: 7px;
    border: unset;
    padding: 10px;
    color: $ciano;
}

.form-control {
    padding: 7px 40px !important;
    border-radius: 12px !important;
    background-color: transparent !important;
    border: solid #c7daed 1px !important;
    color: $cinzaClaro !important;
}

.form-control::placeholder {
    color: $cinzaClaro !important;
}

.fa-search {
    color: $cinzaClaro;
}

.titulo {
    margin-top: 20px !important;
}

.fa-ellipsis-v,
.fa-ellipsis-h {
    cursor: pointer;
    color: $cinzaClaro;
}

p.grey,
.fa.grey {
    color: $cinzaClaro;
}

.item-recente {
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    margin: 10px 0;
}

.btn_vejamais {
    position: absolute;
    left: 50vw;
}

// .container-fluid {
//     padding: unset !important;
// }

div.none,
.none {
    display: none !important;
}

// Progressive Circle
.progress1 {
    position: relative;
    margin: 4px;
    float: left;
    text-align: center !important;
}

.barOverflow {
    /* Wraps the rotating .bar */
    position: relative;
    width: 180px;
    height: 90px; /* Half circle (overflow) */
    margin-bottom: -14px; /* bring the numbers up */
    overflow: hidden;
}

.bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    box-sizing: border-box;
    border: 40px solid $azul;
    border-bottom-color: $ciano;
    border-right-color: $ciano;
}